@media screen and (max-width:424px){
  body{
    background-image: url(img/blau.jpeg);

    font-family: 'Zen Dots', cursive;
  }



.contenedor{

  width: 300px;
  padding: 25px;
  background-color: red;
  margin: center;
  text-align: center;
}

.título{
  background-color: DarkBlue;
  width:250px;
  margin: auto;
  font-size: 15px;
  text-align: center;
  color:WHITE;
  font-family: 'Zen Dots', cursive;
}

.contenedor2{
  width:350px;
  height: 700px;
  margin: 10px auto;
  background-color: blue;
  height:auto;
  float: left;

  align-items: center;
  position: absolute;

  text-align: center;
}


#cuadro1{
  background-color:#8B0000;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin:10px 30px;

    float: left;
    position: relative;

    text-align: center;
    border: 1px black solid;
}
#cuadro2{
  background-color:#8B0000;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin:10px 30px;
    float: left;
    position: relative;

    text-align: center;
    border: 1px black solid
}
#cuadro3{
  background-color:#8B0000;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin:10px 30px;
    float: left;
    position: relative;

    text-align: center;
    border: 1px black solid
}
#cuadro4{
  background-color:#8B0000;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin:10px 30px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid

}
#cuadro5{
  background-color:#8B0000;
  height: 100px;
  width: 100px;
    border-radius: 50%;
    margin:10px 30px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid
}
#cuadro6{
  background-color:#8B0000;
  height: 100px;
  width: 100px;
    border-radius: 50%;
margin:10px 30px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid
}
#cuadro7{
  background-color:#8B0000;
  height: 100px;
  width: 100px;
    border-radius: 50%;
margin:10px 30px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid
}
#cuadro8{
  background-color:#8B0000;
  height: 100px;
  width: 100px;
    border-radius: 50%;
margin:10px 30px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid
}
#cuadro9{
  background-color:#8B0000;
  height: 100px;
  width: 100px;
    border-radius: 50%;
margin:10px 30px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid
  }
#cuadro10{
  background-color:#8B0000;
  height: 100px;
  width: 100px;
    border-radius: 50%;
margin:10px 30px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid
}
#cuadro11{
  background-color:#8B0000;
  height: 100px;
  width: 100px;
    border-radius: 50%;
margin:10px 30px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid
}
#cuadro12{
  background-color:#8B0000;
  height: 100px;
  width: 100px;
    border-radius: 50%;
margin:10px 30px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid
}






p{
  font-family: 'Zen Dots', cursive;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 50px
}
