@media screen and (min-width:1068px){
  body{
background-image: url(img/paisaje2.jpeg);
background-repeat: no-repeat;
background-size: cover;
    font-family: 'Zen Dots', cursive;

  }

.título{
  height: 70px;
  width: 900px;
  margin: auto;
  font-family: 'Zen Dots', cursive;
}

.contenedor2{
  width: 1670px;
  height:1900px;
  margin: 10px auto;
}
h2{
  font-family: 'Zen Dots', cursive;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  color: yellow;

}
.texto{
  height: 50px;
  text-align: center;
  width: 100px;
  margin-top: 220px;
  margin-left: 70px;
  position: relative;
  font-family: 'Zen Dots', cursive;


}

.cuadros{
  background-color: red;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin: 20px;
    float: left;
    position: relative;
}

p{
  font-family: 'Zen Dots', cursive;
  color: WHITE;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 50px
}

#cuadro1{
  background-color:#8B0000;
  height: 400px;
  width: 400px;
    border-radius: 50%;
  margin:20px 70px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid;


}
#cuadro2{
  background-color:#8B0000;
  height: 400px;
  width: 400px;
    border-radius: 50%;
  margin:20px 70px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid
}
#cuadro3{
  background-color:#8B0000;
  height: 400px;
  width: 400px;
    border-radius: 50%;
  margin:20px 70px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid
}
#cuadro4{
  background-color:#8B0000;
  height: 400px;
  width: 400px;
    border-radius: 50%;
  margin:20px 70px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid

}
#cuadro5{
  background-color:#8B0000;
  height: 400px;
  width: 400px;
    border-radius: 50%;
  margin:20px 70px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid
}
#cuadro6{
  background-color:#8B0000;
  height: 400px;
  width: 400px;
    border-radius: 50%;
margin:20px 70px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid
}
#cuadro7{
  background-color:#8B0000;
  height: 400px;
  width: 400px;
    border-radius: 50%;
margin:20px 70px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid
}
#cuadro8{
  background-color:#8B0000;
  height: 400px;
  width: 400px;
    border-radius: 50%;
  margin:20px 70px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid
}
#cuadro9{
  background-color:#8B0000;
  height: 400px;
  width: 400px;
    border-radius: 50%;
  margin:20px 70px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid
  }
#cuadro10{
  background-color:#8B0000;
  height: 400px;
  width: 400px;
    border-radius: 50%;
margin:20px 70px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid
}
#cuadro11{
  background-color:#8B0000;
  height: 400px;
  width: 400px;
    border-radius: 50%;
margin:20px 70px;
    float: left;
    position: relative;
    text-align: center;
    border: 1px black solid
}
#cuadro12{
  background-color:#8B0000;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin:20px 70px;
  float: left;
  position: relative;
  text-align: center;
  border: 1px black solid

}
#cuadro1:hover{
  background-color: blue;
  background-image: url(img/cara.png);
  background-size: cover;
  background-repeat: no-repeat;

}
#cuadro2:hover{
  background-color: blue;
  background-image: url(img/2.png);
  background-size: cover;
}
#cuadro3:hover{
  background-color: blue;
  background-image: url(img/cora.png);
  background-size: cover;
}
#cuadro4:hover{
  background-color: blue;
  background-image: url(img/4.png);
  background-size: cover;
}
#cuadro5:hover{
  background-color: blue;
  background-image: url(img/codis.png);
  background-size: cover;
}
#cuadro6:hover{
  background-color: blue;
  background-image: url(img/6.png);
  background-size: cover;
}
#cuadro7:hover{
  background-color: blue;
  background-image: url(img/horaris.png);
  background-size: cover;
}
#cuadro8:hover{
  background-color: blue;
  background-image: url(img/8.png);
  background-size: cover;
}
#cuadro9:hover{
  background-color: blue;
  background-image: url(img/9.png);
  background-size: cover;
}
#cuadro10:hover{
  background-color: blue;
  background-image: url(img/10.png);
  background-size: cover;
}
#cuadro11:hover{
  background-color: blue;
  background-image: url(img/formulario.png);
  background-size: cover;
}
#cuadro12:hover{
  background-color: blue;
  background-image: url(img/12.png);
  background-size: cover;
}
